.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.hero{
  height:30rem;
  background-color: #eeeeee;
  padding: 7rem;
}

.hero h1{
  color: rgb(0, 0, 0);
  font-family: Verdana;
}

.hero p{
  color: rgb(0, 0, 0);
  font-family: Verdana;
}

.nav-item a{
  color: rgb(0, 0, 0);
}

.nav-item a:hover{
  color: rgb(118, 118, 118);
}

.price-section{
  margin: 5rem;
}

.price{
  font-size: 5rem;
}

.icon {
  font-size: 5rem;
  margin: 1.5rem;
}

.social-section {
  margin-top: 2rem;
  height:30rem;
  background-color: #eeeeee;
  padding: 13rem;
}

.social-section p{
  color: rgb(0, 0, 0);
  font-family: Verdana;
}

.social-section h1{
  color: rgb(0, 0, 0);
  font-family: Verdana;
}

.button{
    color: rgb(226, 48, 48);
}
.button-container-div {
    text-align: center;
}


.footer{
  background-color: #dddddd;
  padding: 2rem;
}

.footer p{
  color: rgb(0, 0, 0);
}

.footer-icon{
  padding: 1rem;
  
}

.logo {
  color: white;
}

.responsive {
width: 100%;
height: auto;
}


/* Tablet */
@media only screen and (max-width: 768px) {
  .price-section{
  margin: 1rem;
}

.icon {
  font-size: 4rem;
  margin: 1.5rem;
}
    .responsive {
width: 100%;
height: auto;
}

}

/* Mobile */
@media only screen and (max-width: 320px) {
.hero {
padding: 2rem;
margin-top: 2rem;
height:20rem;
font-size: 16px;
}

.price-section{
  margin: 1rem;
}

.social-section {
  margin-top: 2rem;
  height:15rem;
  background-color: #212529;
  padding: 3rem;
}

.footer-text {
font-size: 10px;
}

.responsive {
width: 100%;
height: auto;
}


}
